{% extends 'backend_layout.html.twig' %}

{% block title %}New Question{% endblock %}

{% block content %}
    <h1>Create new Question</h1>

    {{ include('backend/question/_form.html.twig') }}

    <a href="{{ path('backend_question_index') }}">back to list</a>
{% endblock %}
