{% extends 'base.html.twig' %}

{% block nav %}
    <nav class=" container-fluid nav">
        <a class="nav-item nav-link"  href="{{ path('backend_question_index') }}"> 
            Questions 
        </a>
        <a class="nav-item nav-link"  href="{{ path('backend_question_index' ) }}"> 
            Answers
        </a>
        <a class="nav-item nav-link"  href="{{ path('backend_tag_index') }}"> 
            Tags
        </a>
        
    </nav>
{% endblock %}